@import '../variables';

.detail {
  margin-top: 30px;
  &__top {
    display: flex;
    height: 480px;
    &__film-poster {
      width: 300px;
      height: 300px;
      &__img {
        padding-top: 160%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
      }
  }
  }
}

.detail__top__film-about {
  max-height: 480px;
  overflow: hidden;
  overflow-y: scroll;
  margin-left: 50px;
  .detail__top__film-title {
    max-width: 700px;
      &__title {
        font-size: 50px;
        font-weight: 700;
    }
  }

  .detail__top__film-descr {
    margin-top: 30px;
    width: 800px;
    &__descr {
      font-size: 22px;
      line-height: 30px;
    }
  }
}

.detail__film-bottom {
  display: flex;
}

.detail__film-about {
  width: 300px;
  max-height: 500px;

  &__rating {
    color: red;
  }

  p {
    line-height: 30px;
    font-size: 22px;
  }
}

.detail-add-to-fav {
  display: grid;
  margin-left: 50px;
  grid-auto-flow: column;
  gap: 50px;
  align-content: center;

  &__item {
    button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 22px;
      border-radius: 5px;
      border: none;
      color: white;
      fill: white;
      width: 200px;
      height: 35px;
      background-color: rgb(42, 42, 42);

      &:hover {
        cursor: pointer;
        transition: 0.2s;
        background-color: $components-color;
      }
    }

    .detail-add-to-fav__item__delete-btn {
      &:hover {
        cursor: pointer;
        transition: 0.2s;
        background-color: rgb(174, 8, 8);
      }
    }
  }
}

.movie-content {

    &__poster {
        flex: 1;

        &__img {

        }
    }

    &__info {

        .genres {
            & > * ~ * {
                margin-left: 0.5rem;
            }

            &__item {
                padding: 0.5rem 1.5rem;
                border: 2px solid white;
                border-radius: 15px;
                font-size: 0.8rem;
                font-weight: 600;
                background-color: #cccc;
            }
        }
    }
}
