@import '../variables';

.category-select {
  @include select;

  &-navigation {
    width: 250px;
    height: 245px;
    overflow: scroll;

    &-list {
      padding-top: 5px;
      list-style: none;

      &__item-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;

        color: #888;
        text-decoration: none;
        width: 100%;

        &:hover {
          background-color: $components-color;
          transition: 0.2s ease;

          li {
            color: #ffff;
            transition: 0.2s ease;
          }
        }
      }

      &__item-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: fit-content;
        }

        li {
          color: black;
          cursor: pointer;
          font-size: 18px;
          padding: 13px 0 13px 19px;
        }
      }
    }
  }

.genres-select {
  @include select;
  left: 290px;
}

.years-select {
  @include select;
  left: 500px;
}