@import '../variables';

.header {
  position: relative;
  z-index: 9;
  width: 100%;
  padding: 25px 0;
  background-color: $header-footer-bgc;

  .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
  }

  &__logo {
    h1 {
      font-size: 36px;
    }
  }

  &__sign-in {
    color: white;
    background: none;
    border: none;
    font-size: 22px;

    &:hover {
      cursor: pointer;
      filter: brightness(70%);
      transition: 0.2s;
    }
  }
}
