@import '../variables';

.header {
  position: relative;
  z-index: 3;
  width: 100%;
  padding: 25px 0;
  background-color: $header-footer-bgc;

  .container {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    h1 {
      font-size: 36px;
    }
  }

  &__sign-in {
    color: white;
    background: none;
    border: none;
    font-size: 22px;

    &:hover {
      cursor: pointer;
      filter: brightness(70%);
      transition: 0.2s;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 40px;
  }
}

@media (max-width: 1300px) {
  .header {
    .container {
        margin: 0 20px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__right {
      width: 600px;
      height: 40px;
    }

    &__logo {
      display: none;
    }
  }
}