@import '../variables';

.movie-grid {
  margin-top: 15px;

  &__link {
    margin-bottom: 15px;
    color: #888;
  }

  Link {
    color: #888;
  }

  &__list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 3rem;

  &-title {
    font-size: 38px;
  }
  }

    &__loadmore {
        text-align: center;

        &__button {
        margin-bottom: 2rem;
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 5px;
        background-color: $components-color;
        font-size: 22px;
        color: white;

        &:hover {
          cursor: pointer;
          filter: brightness(75%);
          transition: 0.3s;
        }
        }
    }
}

.mcard {

  &::before {
      content: "";
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgb(152, 152, 152);
      border-radius: 5px;
      opacity: 0;
      transition: opacity 0.3s ease;
  }
}

.movie-search {
    position: relative;
    width: 100%;
    max-width: 500px;
}