@import '../variables';

.movie-list {
  padding-top: 15px;
  height: 100%;
  .swiper-slide {
      width: 15%;
  }
}

.swiper-button-disabled {
  display: none;
}

.swiper-container {
  overflow: visible;
  position: relative;
}

.swiper {
  position: relative;
}

.swiper-button-prev {
  position: absolute;
  z-index: 999;
  background-color: rgba(80,80,80,.8);
  height: 54px;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: background-color .3s,opacity .3s;
  width: 54px;
  z-index: 1;
  left: 0px;
  top: 50%;

  &:after {
    color: white;
    font-size: 30px;
    font-weight: 900;
  }

  &:hover {
    background-color: rgba(142, 142, 142, 0.8);
  }
}

.swiper-button-next {
  background-color: rgba(80,80,80,.8);
  height: 54px;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  transition: background-color .3s,opacity .3s;
  width: 54px;
  z-index: 1;
  right: 0px;
  top: 50%;

  &:after {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  &:hover {
    background-color: rgba(142, 142, 142, 0.8);
  }
}

.movie-container {
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

@media (max-width: 1300px) {
  .container {
    margin: 0 20px;
  }
}

@media (max-width: 1000px) {
  .container {
    margin: 0 20px;
  }

  .movie-list {
    .swiper-slide {
      width: 20%;
  }
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 20px;
  }

  .movie-list {
    .swiper-slide {
      width: 30%;
  }
  }
}

@media (max-width: 480px) {
  .container {
    margin: 0 10px;
  }

  .movie-list {
    .swiper-slide {
      width: 30%;
  }
  }
}