@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'libs/normalize';

@import 'components/all';

body {
  background-color: $bgc;
}

.wrapper {
  position: relative;
  min-height: 100%;

  .content {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1280px;
  
    &-left {
      width: 700px;
      height: 100px;
    }
    &__descr {
      display: block;
      margin-top: 110px;
      margin-bottom: 20px;
      
      p {
        font-size: 28px;
        font-weight: medium;
      }
    }
  
    &__btn {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: $components-color;
    font-size: 22px;
    color: white;

    &:hover {
      cursor: pointer;
      filter: brightness(75%);
      transition: 0.3s;
    }
    }
  
    &__round {
      position: absolute;
      z-index: 0;
      top: 25%;
      right: 6%;
      width: 450px;
      height: 350px;
      background-color: #6F6F6F;
      filter: blur(100px);
      border-radius: 100%;
    }
  
    &__img {
      display: block;
      margin-top: 41px;
      position: relative;
      z-index: 1;
      background-image: url('/assets/img/Anime-PNG-Download-Image.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 400px;
      height: 600px;
    }
  }

  @media only screen and (min-width: 1450px) {
    .content__img {
      margin-top: 90px;
      width: 500px;
      height: 700px;
    }

    .content__round {
      top: 30%;
      right: 18%;
    }
  }
}