@import 'fonts';
@import 'variables';
@import 'libs/normalize';

@import 'components/all';

body {
  background-color: $bgc;
}

.wrapper {
  position: relative;
  min-height: 100%;

  .content {
    min-height: 100%;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1280px;
  
    &-left {
      width: 900px;
      height: 100px;
    }
    &__descr {
      display: block;
      padding-top: 60px;
      padding-bottom: 20px;
      
      p {
        font-size: 28px;
        font-weight: medium;
      }
    }
  
    &__btn {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: $components-color;
    font-size: 22px;
    color: white;

    &:hover {
      cursor: pointer;
      filter: brightness(85%);
      transition: 0.1s;
    }
    }
  
    &__round {
      position: absolute;
      z-index: 0;
      top: 25%;
      right: 8%;
      width: 450px;
      height: 350px;
      background-color: rgb(244, 171, 44);
      filter: blur(100px);
      border-radius: 100%;
    }
  
    &__img {
      display: block;
      position: relative;
      z-index: 1;
      background-image: url('/assets/img/naruto.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 605px;
    }
  }
}